// $Id$
// This file is for additional LESS rules beyond what are in variables.scss.
// Image path example:
// body {
//    background-image: url('#{$imagePath}bg.jpg');
// }

$imagePath: "../images/";


// Special links in "More" button of page-bar
.dropdown-menu > .btn-link:not(.text-danger) {
    color: #fff
}

.dropdown-item.btn-link.text-danger {
    background: lighten($danger, 40%) !important; //lighten($danger, 70%);
    border-radius: 0 !important;
    &:hover {
        background: lighten($danger, 30%) !important;
    }
}
//.dropdown-item.text-danger {
//  color: #fec0bd !important;
//}

.middle_outer {
    -webkit-box-shadow: inset 0 24px 0 0 #28a7de;
    box-shadow: inset 0 24px 0 0 #28a7de;
    border-top: 2px solid #ffffff;
}
.fullscreen .middle_outer {
    -webkit-box-shadow: inset 0 3px 0 0 #28a7de;
    box-shadow: inset 0 3px 0 0 #28a7de;
    border-top: none;
}

.navbar {
    min-height: 24px;
}

body.tiki.navbar-padding,
.layout_social_modules {
    padding-top: $navbar-fixed-height;
    h1.sitetitle {
        line-height: normal;
    }
}
body.fullscreen.tiki.navbar-padding {
    padding-top: 0;
}

.layout_social .topbar_modules h1.sitetitle,
.layout_social_modules .topbar_modules h1.sitetitle {
    float: left;
    font-size: 1.8rem;
    line-height: $navbar-fixed-height;
}

//#top_modules,
.layout_fixed_top_modules .top_modules,
.navbar-fixed-top {
    height: $navbar-fixed-height;
    //  overflow: hidden;
    .sitelogo img {
        width: auto !important;
        margin-right: 1.5em;
    }
    h1.sitetitle {
        //    display: inline-block;
        font-size: 2em;
        //    height: 54px;
        //    line-height: 54px;
        margin: 0 0 0 1rem;
        //    font-size: 24px;
        //    margin-top: 15px;
        float: left;
        a {
            color: #ffffff;
        }
        a:hover {
            text-decoration: none;
        }
    }
    h2.sitesubtitle {
        float: left;
        font-size: 1.5em;
        margin: 0 0 0 1.5em;
        line-height: $navbar-fixed-height;
        height: $navbar-fixed-height;
        color: #ffffff;
    }
}

.topbar_container,
.layout_basic .page-header > .topbar {
    background: $topbar_container_background;
}

header.header {
    .sitetitle,
    .sitesubtitle {
        color: $header-color;
        text-shadow: none;
    }
}

//.layout_basic .topbar,
//.layout_basic.tiki .row.topbar,
.layout_fixed_top_modules .navbar-fixed-top .navbar {
    margin-bottom: 0;
}

.topbar,
    //.topbar .cssmenu_horiz ul,
.topbar .navbar-default .navbar-nav > li,
.topbar .nav > li,
.topbar .navbar,
.topbar .navbar-default .navbar-collapse,
.topbar .navbar-default .navbar-form {
    border: none;
    background: transparent;
}

.topbar .navbar-nav > li > a,
.topbar .navbar > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 1;
}

.topbar > a,
.topbar .navbar-dark .navbar-nav > li > a,
.topbar .nav > li > a {
  color: #fff;
}
.topbar {
    margin-bottom: 2rem;
}

// prevent gradient on gradient or on middle box-shadow
.page-header,
.layout_classic #topbar_modules {
  .navbar.bg-dark,
  .navbar.bg-light { background: $topbar-bg !important; }
}

.layout_classic {
  #top_modules.bg-dark,
  #top_modules.bg-light,
  #topbar_modules,
  #topbar.bg-dark,
  #topbar.bg-light { background: $topbar-bg !important; }
}

.layout_social {
    #top_modules.bg-dark,
    #top_modules.bg-light,
    #topbar_modules,
    #topbar.bg-dark,
    #topbar.bg-light,
    .topbar .bg-dark,
    .topbar .bg-light { background: $topbar-bg !important; }
}

.layout_basic {
    #top_modules.bg-dark,
    #top_modules.bg-light,
    #topbar_modules,
    #topbar.bg-dark,
    #topbar.bg-light,
    .topbar .bg-dark,
    .topbar .bg-light { background: $topbar-bg !important; }
}

#col2 .card,
#col3 .card {
    border: $side-column-border; // none;
}

#col2 .card-header,
#col3 .card-header {
    background: $side-column-card-header-background; // #e1d518 url('#{$imagePath}siteheader.png') no-repeat -1000px -200px;
    border-width: $side-column-card-header-border-width;
    border-style: solid;
    border-color: $side-column-card-header-border-color;
}

#col2 .card-header,
#col3 .card-header {
    color: $side-column-card-header-color;
}

// Header graphics
.header_outer,
.layout_basic .page-header > .top_modules {
    // whole width div containing the header strip
    background: $header_outer-background; // url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
    border-bottom: 5px solid #000000;
    color: #000000;
}

.header_outer a { color: #ffffff; }

.header_container > .header {
    // inner <header> element that gets .fixedwidth class applied
    background: none; // $header_container_header-background; // url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
}

#fullscreenbutton a {
  color: #000000;
}

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
}

// Little gap (line) between the topbar and top
.layout_basic .page-header > .topbar {
    margin-top: 1px;
}

// When it displays as inline-block for some reason there is some little padding on the bottom of the element which needs to be removed
.layout_basic .page-header > .topbar > div {
    margin-bottom: -3px !important;
}

//.sitelogo img {max-height: 34px; width: auto; margin-bottom: 1em;}

.form-control,
select,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
input#login-pass,
textarea,
.adminoptionbox option {
    background-color: $form-control-background; //#f8f9d4;
    border-color: $form-control-border-colors; // #F5FB86 #FBFBEE #FBFBEE #F5FB86;
}

.navbar-collapse {
    border: none;
}


.topbar {
    .nav > li > a {
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .form-control,
    .btn,
    label {
        font-size: 12px;
        height: 20px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-top: 1px;
        margin-bottom: 2px;
    }
    .mb-3 {
        margin-bottom: 0;
    }
}

.navbar-nav .open .dropdown-menu,
.navbar-nav .open .dropdown-menu li,
.navbar-default .navbar-nav > li > a {
    //  background: $navbar-default-navbar-nav-li-a-background; // #cdbe23;
}

.dropdown-menu {
  background-color: $dropdown-bg; //#005064;
  border: 1px solid $dropdown-border-color; // rgba(0, 0, 0, 0.15);
}

.dropdown-item a,
.dropdown-item .btn.btn-link {
  color: $dropdown-link-color;
  &:hover,
  &:focus {
    color: $dropdown-link-hover-color;
  }
  &:active,
  &.active {
    color: $dropdown-link-active-color;
  }
  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
  }
  .dropdown-header {
    color: $dropdown-header-color;
  }
  .dropdown-divider {
    background: $dropdown-divider-bg;
  }
}

.cssmenu_horiz ul li button.btn-link.link-list,
.cssmenu_vert ul li button.btn-link.link-list {
    background: $dropdown-bg; //   $dropdown-bg;
    color: $dropdown-link-color; //  $dropdown-link-color;
}

.postbody-title {
    background: $postbody-title-background; //url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
}

.siteloginbar_poppedup li > a,
.siteloginbar_poppedup label {
    color: $navbar-dark-color;
}

// This comes last to enable site title color of theme options under FiveAlive-lite to have priority over the default set by FiveAlive.
header.header {
    .sitetitle,
    .sitesubtitle,
    a,
    .btn-link {
        color: #ffffff;
        text-shadow: none;
    }
}

.popover {
    color: $body-color;
}

label a:hover { text-decoration: none; }

.bg-dark {
  background-color: $bg-dark !important;
}

.nav-tabs .nav-item {
  margin-right: 1px;
}

#footer {
  background: #000000;
  color: $footer-color; // #696969;
  padding: 1px 0 2px 0;
  width: 100%;
}

.footer {
  border-top: 1px solid $footer-border-color; //#ebdc14;
  border-bottom: 1px solid $footer-border-color; // #ebdc14;
}

.footer_liner {
  .card,
    .card-header {
    border: none;
  }
  h3.card-header {
    color: #ffffff;
    border-bottom: 1px dotted $footer-border-color;
  }
  //#ebdc14;
  legend,
  a,
  a:visited {
    color: $footer-link-color;
  }
  // #a9a9a9;
}


label a:hover { text-decoration: none; }

.bg-dark {
  background-color: $bg-dark !important;
}

.nav-tabs .nav-item {
  margin-right: 1px;
}
