// These variables need to be defined for the files to compile. The specific variables for the child theme's button colors are defined
// at the bottom of the file. There appears to be redundancy in defining colors but each line is necessary.
// There are unique names for the child theme button colors to avoid any conflict with the general theme colors.

// Variables needed for button color variants (start)
$theme-colors: (
    "primary": #18a3bb,
    "secondary": #005064,
    "success": #5cb85c,
    "info": #007378,
    "warning": #f0ad4e,
    "danger": #ff5c1a,
    "light": #ffffff,
    "dark": #18a3bb);

$primary: #18a3bb;
$secondary: #005064;
$success: #5cb85c;
$info: #007378;
$warning: #f0ad4e;
$danger: #ff5c1a;
$light: #ffffff;
$dark: #18a3bb;

$theme-colors: map-merge(
        ("primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark),
    $theme-colors);

// The following are default values from vendor/twbs/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.
//$min-contrast-ratio:  7;
$gray-600: #6c757d !default;
$gray-900: #212529;
$white: #fff;
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;
$enable-gradients: false;

$black: #000 !default;
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow: 0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15),
0 1px 1px rgba($black, .075) !default;
$enable-shadows: false;
$input-btn-focus-width: .2rem !default;
$btn-focus-width: $input-btn-focus-width !default;
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline !default;
$btn-link-disabled-color: $gray-600 !default;

$enable-gradients: true;
$enable-shadows: true;

// Edit the following to set the button colors for the child theme if they differ from the values .
$child-btn-primary: $primary; //#dc59a5;
$child-btn-secondary: $secondary; // #dc59a5;
$child-btn-success: $success; //#dc59a5;
$child-btn-info: $info; // #dc59a5;
$child-btn-warning: $warning; //#dc59a5;
$child-btn-danger: $danger; //#dc59a5;
$child-btn-light: $light; //#dc59a5;
$child-btn-dark: $dark; //#dc59a5;
// Variables needed for button color variants (end)