// Minty 5.1.3
// Bootswatch

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
//

$theme: "minty";

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #eceeef;
$gray-400: #ced4da;
$gray-500: #aaa;
$gray-600: #888;
$gray-700: #5a5a5a;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #ff7851;
$orange:  #fd7e14;
$yellow:  #ffce67;
$green:   #56cc9d;
$teal:    #20c997;
$cyan:    #6cc3d5;

$primary:       #78c2ad;
$secondary:     #f3969a;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$min-contrast-ratio:   1.45;

// Body

$body-color:                $gray-600;

// Components

$border-radius:               .4rem;
$border-radius-lg:            .6rem;
$border-radius-sm:            .3rem;

// Fonts

// stylelint-disable-next-line value-keyword-case
$headings-font-family:        Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-color:              $gray-700;

// Tables

$table-border-color:          rgba(0, 0, 0, .05);

$table-bg-scale:              0;

// Dropdowns

$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $secondary;

// Navbar

$navbar-dark-color:                 rgba($white, .6);
$navbar-dark-hover-color:           $white;
$navbar-light-color:                rgba($black, .3);
$navbar-light-hover-color:          $gray-700;
$navbar-light-active-color:         $gray-700;
$navbar-light-disabled-color:       rgba($black, .1);

// Pagination

$pagination-color:                  $white;
$pagination-bg:                     $primary;
$pagination-border-color:           $primary;
$pagination-hover-color:            $white;
$pagination-hover-bg:               $secondary;
$pagination-hover-border-color:     $pagination-hover-bg;
$pagination-active-bg:              $secondary;
$pagination-active-border-color:    $pagination-active-bg;
$pagination-disabled-color:         $white;
$pagination-disabled-bg:            #cce8e0;
$pagination-disabled-border-color:  $pagination-disabled-bg;

// Alerts

$alert-color-scale:                 0%;
$alert-bg-scale:                    0;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem;
$breadcrumb-padding-x:              .75rem;
$breadcrumb-bg:                     $primary;
$breadcrumb-divider-color:          $white;
$breadcrumb-active-color:           $breadcrumb-divider-color;
$breadcrumb-border-radius:          .25rem;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
