// Pulse 5.1.3
// Bootswatch

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

$theme: "pulse";

//
// Color system
//

$white:    #fff;
$gray-100: #fafafa;
$gray-200: #f9f8fc;
$gray-300: #ededed;
$gray-400: #cbc8d0;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #444;
$gray-800: #343a40;
$gray-900: #17141f;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #593196;
$pink:    #e83e8c;
$red:     #fc3939;
$orange:  #fd7e14;
$yellow:  #efa31d;
$green:   #13b955;
$teal:    #20c997;
$cyan:    #009cdc;

$primary:       $purple;
$secondary:     #a991d4;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-200;
$dark:          $gray-900;

$min-contrast-ratio:   2.1;

// Options

$enable-rounded: false;

// Body

$body-color:                $gray-700;

// Links

$link-hover-color:          $primary;

// Tables

$table-border-color:          rgba(0, 0, 0, .05);

// Forms

$input-focus-border-color:              $primary;

// Dropdowns

$dropdown-link-color:               $gray-700;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

// Navs

$nav-tabs-border-color:             $gray-300;
$nav-tabs-link-hover-border-color:  $primary;

// Navbar

$navbar-padding-y:                  1.2rem;
$navbar-dark-hover-color:           rgba($white, .9);
$navbar-dark-active-color:          rgba($white, .9);
$navbar-light-color:                rgba($black, .4);
$navbar-light-active-color:         rgba($black, .7);
$navbar-light-disabled-color:       rgba($black, .2);

// Progress bars

$progress-bg:                       $gray-300;
$progress-bar-bg:                   $primary;

// List group

$list-group-bg:                     $gray-900;
$list-group-border-color:           transparent;
$list-group-hover-bg:               lighten($list-group-bg, 10%);
$list-group-active-color:           $white;
$list-group-active-bg:              $list-group-bg;
$list-group-disabled-color:         lighten($list-group-bg, 30%);

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
