// Cyborg 5.1.3
// Bootswatch

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

$theme: "cyborg";

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #adafae;
$gray-500: #888;
$gray-600: #555;
$gray-700: #282828;
$gray-800: #222;
$gray-900: #212529;
$black:    #000;

$blue:    #2a9fd6;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #c00;
$orange:  #fd7e14;
$yellow:  #f80;
$green:   #77b300;
$teal:    #20c997;
$cyan:    #93c;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-800;
$dark:          $gray-400;

$min-contrast-ratio:   2.25;


// Body

$body-bg:       #060606;
$body-color:    $gray-400;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:  Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$h1-font-size:            4rem;
$h2-font-size:            3rem;
$h3-font-size:            2.5rem;
$h4-font-size:            2rem;
$h5-font-size:            1.5rem;
$headings-color:          $white;

// Tables

$table-color:                   $white;
$table-accent-bg:               rgba($white, .05);
$table-hover-bg:                rgba($white, .075);
$table-border-color:            $gray-700;
$table-dark-bg:                 $gray-500;
$table-dark-border-color:       darken($gray-500, 7.5%);

$table-bg-scale:              0;

// Buttons

$input-btn-padding-x:       1rem;

// Forms

$input-bg:                          $white;
$input-disabled-bg:                 $gray-400;

$input-color:                       $gray-900;
$input-border-color:                $white;
$input-border-width:                0;

$input-group-addon-color:           $white;
$input-group-addon-bg:              $gray-700;
$input-group-addon-border-color:    transparent;

$form-check-input-bg:                     $white;
$form-check-input-border:                 none;

$form-file-button-color:          $white;

// Dropdowns

$dropdown-bg:                    $gray-700;
$dropdown-divider-bg:            $gray-800;
$dropdown-link-color:            $white;
$dropdown-link-hover-color:      $white;
$dropdown-link-hover-bg:         $primary;

// Navs

$nav-tabs-border-color:                       $table-border-color;
$nav-tabs-link-hover-border-color:            $nav-tabs-border-color;
$nav-tabs-link-active-color:                  $white;
$nav-tabs-link-active-bg:                     $nav-tabs-border-color;
$nav-tabs-link-active-border-color:           $nav-tabs-border-color;

// Navbar

$navbar-dark-hover-color:           $white;

// Pagination

$pagination-color:                     $white;
$pagination-bg:                        $gray-700;
$pagination-border-color:              transparent;
$pagination-hover-color:               $white;
$pagination-hover-bg:                  $primary;
$pagination-hover-border-color:        $pagination-border-color;
$pagination-disabled-bg:               $pagination-bg;
$pagination-disabled-border-color:     $pagination-border-color;

// Cards

$card-bg:                           $gray-700;

// Tooltips

$tooltip-bg:                        $gray-700;
$tooltip-opacity:                   1;

// Popovers

$popover-bg:                        $gray-700;

// Toasts

$toast-color:                       $white;
$toast-background-color:            $gray-800;
$toast-border-color:                $gray-700;
$toast-header-color:                $body-color;
$toast-header-background-color:     $toast-background-color;
$toast-header-border-color:         $toast-border-color;

// Modals

$modal-content-bg:                  $gray-800;
$modal-header-border-color:         $gray-700;

// Progress bars

$progress-bg:                       $gray-700;

// List group

$list-group-color:                  $white;
$list-group-bg:                     $gray-800;
$list-group-border-color:           $gray-700;
$list-group-hover-bg:               $primary;
$list-group-disabled-bg:            $gray-700;
$list-group-action-color:           $white;
$list-group-action-active-bg:       $primary;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem;
$breadcrumb-padding-x:              .75rem;
$breadcrumb-bg:                     $gray-700;
$breadcrumb-border-radius:          .25rem;

// Close

$btn-close-color:            $white;
$btn-close-opacity:          .6;
$btn-close-hover-opacity:    1;

// Code

$pre-color:                         inherit;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// Update for Smartmenus
$dropdown-item: $dropdown-link-color;