// Litera 5.1.3
// Bootswatch

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //


$theme: "litera";

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #ddd;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #4582ec;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #d9534f;
$orange:  #fd7e14;
$yellow:  #f0ad4e;
$green:   #02b875;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     $gray-500;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$min-contrast-ratio:   1.85;

// Body

$body-color:                $gray-800;

// Fonts

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif:           Georgia, Cambria, "Times New Roman", Times, serif;
// stylelint-enable

$font-size-base:              1.1rem;
$headings-font-weight:        700;

// Tables

$table-border-color:          rgba(0, 0, 0, .1);

$table-bg-scale:              0;

// Buttons

$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         1.1rem;
$btn-font-family:             $font-family-sans-serif;
$btn-font-size:               .875rem;
$btn-font-size-sm:            .688rem;

$btn-border-radius:           1.078em;
$btn-border-radius-lg:        2.688em;
$btn-border-radius-sm:        .844em;

// Forms

$input-border-color:                    rgba(0, 0, 0, .1);
$input-group-addon-bg:                  $gray-200;

// Navbar

$navbar-dark-color:                 rgba($white, .6);
$navbar-dark-hover-color:           $white;
$navbar-light-hover-color:          $body-color;
$navbar-light-active-color:         $body-color;

// Tooltips

$tooltip-font-size:                 11px;

// Badges

$badge-font-weight:                 400;
$badge-padding-y:                   .6em;
$badge-padding-x:                   1.2em;

// Alerts

$alert-border-width:                0;
// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
