// Darkly 5.1.3
// Bootswatch

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //


$theme: "darkly";

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #ebebeb;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #888;
$gray-700: #444;
$gray-800: #303030;
$gray-900: #222;
$black:    #000;

$blue:    #375a7f;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #e74c3c;
$orange:  #fd7e14;
$yellow:  #f39c12;
$green:   #00bc8c;
$teal:    #20c997;
$cyan:    #3498db;

$primary:       $blue;
$secondary:     $gray-700;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-500;
$dark:          $gray-800;

$min-contrast-ratio:   1.9;

// Body

$body-bg:                   $gray-900;
$body-color:                $white;

// Links

$link-color:                $success;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$h1-font-size:                3rem;
$h2-font-size:                2.5rem;
$h3-font-size:                2rem;
$text-muted:                  $gray-600;

// Tables

$table-border-color:          $gray-700;

$table-bg-scale:              0;

// Forms

$input-bg:                          $white;
$input-color:                       $gray-800;
$input-border-color:                $body-bg;
$input-group-addon-color:           $gray-500;
$input-group-addon-bg:              $gray-700;

$form-check-input-bg:                     $white;
$form-check-input-border:                 none;

$form-file-button-color:          $white;

// Dropdowns

$dropdown-bg:                       $gray-900;
$dropdown-border-color:             $gray-700;
$dropdown-divider-bg:               $gray-700;
$dropdown-link-color:               $white;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

// Navs

$nav-link-padding-x:                2rem;
$nav-link-disabled-color:           $gray-500;
$nav-tabs-border-color:             $gray-700;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent;
$nav-tabs-link-active-color:        $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;

// Navbar

$navbar-padding-y:                  1rem;
$navbar-dark-color:                rgba($white, .6);
$navbar-dark-hover-color:          $white;
$navbar-light-color:                rgba($gray-900, .7);
$navbar-light-hover-color:          $gray-900;
$navbar-light-active-color:         $gray-900;
$navbar-light-toggler-border-color: rgba($gray-900, .1);

// Pagination

$pagination-color:                  $white;
$pagination-bg:                     $success;
$pagination-border-width:           0;
$pagination-border-color:           transparent;
$pagination-hover-color:            $white;
$pagination-hover-bg:               lighten($success, 10%);
$pagination-hover-border-color:     transparent;
$pagination-active-bg:              $pagination-hover-bg;
$pagination-active-border-color:    transparent;
$pagination-disabled-color:         $white;
$pagination-disabled-bg:            darken($success, 15%);
$pagination-disabled-border-color:  transparent;

// Cards

$card-cap-bg:                       $gray-700;
$card-bg:                           $gray-800;

// Popovers

$popover-bg:                        $gray-800;
$popover-header-bg:                 $gray-700;

// Toasts

$toast-background-color:            $gray-700;
$toast-header-background-color:     $gray-800;

// Modals

$modal-content-bg:                  $gray-800;
$modal-content-border-color:        $gray-700;
$modal-header-border-color:         $gray-700;

// Progress bars

$progress-bg:                       $gray-700;

// List group

$list-group-color:                  $body-color;
$list-group-bg:                     $gray-800;
$list-group-border-color:           $gray-700;
$list-group-hover-bg:               $gray-700;
$list-group-action-hover-color:     $list-group-color;
$list-group-action-active-bg:       $gray-900;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem;
$breadcrumb-padding-x:              .75rem;
$breadcrumb-bg:                     $gray-700;
$breadcrumb-border-radius:          .25rem;

// Close

$btn-close-color:            $white;
$btn-close-opacity:          .4;
$btn-close-hover-opacity:    1;

// Code

$pre-color:                         inherit;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

$dropdown-item: $dropdown-link-color;