// Materia 5.1.3
// Bootswatch


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";
@if $web-font-path {
    @import url($web-font-path);
}

// Mixins

@mixin ripple($color) {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin-left: 0;
        @include gradient-radial($color 10%, transparent 10.01%);
        background-size: 1000% 1000%;
        background-position: 50%;
        border: none;
        opacity: 0;
        pointer-events: none;
        transition: background .5s, opacity 1s;
    }

    &:active::before {
        background-size: 0 0;
        opacity: .2;
        transition: none;
    }

    &.disabled,
    &[disabled] {
        &::before {
            display: none;
        }
    }
}

@mixin btn($class,$bg,$color) {
    .btn-#{$class} {
        &:focus {
            background-color: $bg;
            box-shadow: 0 0 0 2px rgba(204, 204, 204, .5);
        }

        &:hover,
        &:active:hover {
            background-color: shade-color($bg, 12%);
        }

        &:active {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
        }

        @include ripple($color);
    }

    .btn-outline-#{$class} {
        @include ripple($color);
    }
}

.dropdown-toggle::after,
.dropup .dropdown-toggle::after,
.dropstart .dropdown-toggle::after,
.dropend .dropdown-toggle::after {
    border-width: 4px;
}

// Navbar

.navbar {
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);

    &-brand {
        font-size: 24px;
    }

    &-nav .nav-link {
        padding-top: .9rem;
        padding-bottom: .9rem;
    }

    &.bg-dark,
    &.bg-primary {
        input[type="search"],
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="number"],
        input[type="tel"] {
            color: $white;
            box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .5);

            &:focus {
                box-shadow: inset 0 -2px 0 $white;
            }

            &::placeholder {
                color: rgba(255, 255, 255, .5);
            }
        }
    }
}

// Buttons

@include btn(primary, $primary, $white);
@include btn(secondary, $secondary, $gray-500);
@include btn(success, $success, $white);
@include btn(info, $info, $white);
@include btn(warning, $warning, $white);
@include btn(danger, $danger, $white);
@include btn(dark, $dark, $white);
@include btn(light, $light, $white);

.btn {
    text-transform: uppercase;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    transition: color .4s, background-color .4s, border-color .4s, box-shadow .4s;

    &-link {
        box-shadow: none;
        color: $link-color;

        &:hover,
        &:focus {
            box-shadow: none;
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
        }

        &.disabled, // Although btn-link is intended for buttons, which want to look like link, I include here a.disable for the sake of consistency
        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:active:hover {
                color: $btn-link-disabled-color;
                text-decoration: none;
            }
        }
    }

    &-secondary {
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
            background-color: rgba(0, 0, 0, .1);
            color: rgba(0, 0, 0, .4);
            opacity: 1;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }

    &-outline-secondary {
        border-color: $gray-200;
        color: $gray-300;
    }

    &-warning {
        color: $white;
    }
}

.btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
        margin-left: 0;
    }

    &-vertical {
        > .btn + .btn,
        > .btn + .btn-group,
        > .btn-group + .btn,
        > .btn-group + .btn-group {
            margin-top: 0;
        }
    }

    .btn + .btn,
    .btn + .btn-group > .dropdown-toggle {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    }
}

.border-secondary {
    border: 1px solid #dfdfdf !important;
}

// Typography

body,
input,
button {
    letter-spacing: .1px;
}

p {
    margin: 0 0 1em;
}

.text-secondary {
    color: $gray-500 !important;
}

// Tables

.table-hover {
    > tbody > tr,
    > tbody > tr > th,
    > tbody > tr > td {
        transition: background-color .2s, color .2s;
    }
}

.thead-inverse th {
    background-color: $primary;
    color: $white;
}

// Forms

.col-form-label {
    font-size: 16px;

    &-sm {
        font-size: $font-size-sm;
    }

    &-lg {
        font-size: $font-size-lg;
    }
}

textarea,
textarea.form-control,
input.form-control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
[type="text"].form-control,
[type="password"].form-control,
[type="email"].form-control,
[type="tel"].form-control,
[contenteditable].form-control {
    box-shadow: inset 0 -1px 0 #ddd;
    transition: box-shadow .2s;

    &:focus {
        box-shadow: inset 0 -2px 0 $primary;
    }

    &[disabled],
    &[readonly] {
        box-shadow: none;
        border-bottom: 1px dotted #ddd;
    }

    &[disabled],
    &[disabled]::placeholder {
        color: #ddd;
    }

    &::-ms-clear {
        display: none;
    }
}

select,
select.form-control {
    appearance: none;
    padding: .5rem 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' viewBox='0 0 8 4'%3e%3cpolygon fill='%23666' points='8 0 4 4 0 0'/%3e%3c/svg%3e%0a");
    background-size: 8px 4px;
    background-repeat: no-repeat;
    background-position: right center;
    box-shadow: inset 0 -1px 0 #ddd;

    &::-ms-expand {
        display: none;
    }

    &.input {
        &-sm {
            font-size: $font-size-sm;
        }

        &-lg {
            font-size: $font-size-lg;
        }
    }

    &:focus {
        box-shadow: inset 0 -2px 0 $primary;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' viewBox='0 0 8 4'%3e%3cpolygon fill='%23212121' points='8 0 4 4 0 0'/%3e%3c/svg%3e%0a");
    }

    &[multiple] {
        background: none;
    }
}

.form-check-input {
    width: 1.25em;
    height: 1.25em;
    margin-top: 1px;
    border: 2px solid $gray-400;

    &:checked[type="radio"] {
        background-size: 1.8em;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%232196f3' stroke='%23fff' stroke-width='1' /%3e%3c/svg%3e"), var(--bs-gradient);
    }
}

.form-check.form-switch {
    .form-check-input {
        position: relative;
        height: .8em;
        border: none;
        background-image: none;
        background-color: $gray-400;

        &:focus {
            box-shadow: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: -.2em;
            left: -.2em;
            width: 1.2em;
            height: 1.2em;
            background-color: $white;
            border-radius: 50%;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
            transition: left .15s ease-in-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: -.2em;
            left: -.2em;
            width: 1.2em;
            height: 1.2em;
            border-radius: 50%;
            box-shadow: 0 0 0 9px rgba(0, 0, 0, .05);
            transform: scale(0);
            transition: left .15s ease-in-out, transform .15s ease-in-out, box-shadow .15s ease-in-out;
            z-index: -1;
        }

        &:hover:not(.disabled),
        &:focus:not(.disabled) {

            &::after {
                transform: scale(.9);
            }
        }

        &:focus:not(.disabled) {
            &::after {
                box-shadow: 0 0 0 9px rgba(0, 0, 0, .1);
            }
        }

        &:checked {
            background-color: rgba(33, 150, 243, .3);

            &::before {
                background-color: rgba(33, 150, 243, 1);
                left: calc(100% - .8em);
            }

            &::after {
                left: calc(100% - .8em);
                box-shadow: 0 0 0 9px rgba(33, 150, 243, .1);
            }

            &:hover:not(.disabled),
            &:focus:not(.disabled) {
                &::after {
                    transform: scale(.9);
                }
            }

            &:focus:not(.disabled) {
                &::after {
                    box-shadow: 0 0 0 9px rgba(33, 150, 243, .2);
                }
            }
        }
    }
}

.form-check:not(.form-switch) {
    .form-check-input {
        &:checked[type="checkbox"] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e"), var(--bs-gradient);
            background-size: 1.6em;
        }
    }
}

.has-warning {
    input:not([type="checkbox"]),
    .form-control,
    input.form-control[readonly],
    input[type="text"][readonly],
    [type="text"].form-control[readonly],
    input:not([type="checkbox"]):focus,
    .form-control:focus {
        border-bottom: none;
        box-shadow: inset 0 -2px 0 $warning;
    }
}

.has-danger {
    input:not([type="checkbox"]),
    .form-control,
    input.form-control[readonly],
    input[type="text"][readonly],
    [type="text"].form-control[readonly],
    input:not([type="checkbox"]):focus,
    .form-control:focus {
        border-bottom: none;
        box-shadow: inset 0 -2px 0 $danger;
    }
}

.has-success {
    input:not([type="checkbox"]),
    .form-control,
    input.form-control[readonly],
    input[type="text"][readonly],
    [type="text"].form-control[readonly],
    input:not([type="checkbox"]):focus,
    .form-control:focus {
        border-bottom: none;
        box-shadow: inset 0 -2px 0 $success;
    }
}

// Remove the Bootstrap feedback styles for input addons
.input-group-addon {
    .has-warning &,
    .has-danger &,
    .has-success & {
        color: $input-color;
        border-color: $input-group-addon-border-color;
        background-color: $input-group-addon-bg;
    }
}

.form-group-lg {
    select,
    select.form-control {
        line-height: 1.5;
    }
}

// Navs

.nav-tabs {
    .nav-item + .nav-item {
        margin-left: 0;
    }

    .nav-link,
    .nav-link:focus {
        margin-right: 0;
        background-color: transparent;
        border: none;
        color: $body-color;
        box-shadow: inset 0 -1px 0 #ddd;
        transition: color .2s, box-shadow .2s;

        &:hover {
            background-color: transparent;
            box-shadow: inset 0 -2px 0 $primary;
            color: $primary;
        }
    }

    .nav-link.active,
    .nav-link.active:focus {
        border: none;
        box-shadow: inset 0 -2px 0 $primary;
        color: $primary;

        &:hover {
            border: none;
            color: $primary;
        }
    }

    .nav-link.disabled {
        box-shadow: inset 0 -1px 0 #ddd;
    }

    &.nav-justified {
        .nav-link,
        .nav-link:hover,
        .nav-link:focus,
        .nav-link.active,
        .nav-link.active:hover,
        .nav-link.active:focus {
            border: none;
        }
    }

    .dropdown-menu {
        margin-top: 0;
    }
}

.dropdown-menu {
    margin-top: 0;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

// Indicators

.alert {
    padding-right: 2.5rem;
    border: none;

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    @each $color, $value in $theme-colors {
        &-#{$color} {
            @if $enable-gradients {
                background: $value linear-gradient(180deg, mix($body-bg, $value, 15%), $value) repeat-x;
            } @else {
                background-color: $value;
            }
        }
    }

    a:not(.btn),
    .alert-link {
        color: $white;
        font-weight: 700;
    }

    &-secondary,
    &-light {
        &,
        a:not(.btn),
        .alert-link {
            color: $body-color;
        }
    }
}

.badge {
    &.bg-secondary,
    &.bg-light {
        color: $dark;
    }
}

.tag {
    padding: 4px 6px;
}

// Containers

.card {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);

    &.border-primary,
    &.border-secondary,
    &.border-success,
    &.border-info,
    &.border-warning,
    &.border-danger,
    &.border-light,
    &.border-dark {
        border-width: 1px;
    }
}

.list-group {
    &-item-action.active {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
        }
    }
}

.modal-content {
    border-radius: .2rem;
    box-shadow: 0 6px 36px rgba(0, 0, 0, .3);
}

.modal,
.toast {
    .btn-close {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
    }
}

.popover {
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.carousel {
    &-caption {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: inherit;
        }
    }
}
