// Materia 5.1.3
// Bootswatch

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
//

$theme: "materia";

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #bbb;
$gray-600: #666;
$gray-700: #444;
$gray-800: #222;
$gray-900: #212121;
$black:    #000;

$blue:    #2196f3;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #e51c23;
$orange:  #fd7e14;
$yellow:  #ff9800;
$green:   #4caf50;
$teal:    #20c997;
$cyan:    #9c27b0;

$primary:       $blue;
$secondary:     $white;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$min-contrast-ratio:   2.15;

$enable-gradients: true;

// Body

$body-color:    $gray-700;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:    Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-size-base:            1rem;
$font-weight-base:          400;

// Buttons

$input-btn-padding-y:       .8rem;
$input-btn-padding-x:       1rem;

// Forms

$input-padding-y:                1rem;
$input-padding-x:                0;
$input-padding-y-sm:             0;
$input-padding-x-sm:             0;
$input-padding-y-lg:             ($font-size-base * 1.25);
$input-padding-x-lg:             0;
$input-bg:                       transparent;
$input-disabled-bg:              transparent;
$input-color:                    $gray-600;
$input-border-color:             transparent;
$input-border-width:             0;
$input-border-radius:            0;
$input-border-radius-lg:         0;
$input-border-radius-sm:         0;
$input-placeholder-color:        rgba(0, 0, 0, .4);
$input-group-addon-bg:           transparent;

// Navs

$nav-link-disabled-color:       $gray-500;
$nav-tabs-border-color:         transparent;

// Navbar

$navbar-padding-y:                  1rem;
$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           $white;

// Cards

$card-border-width:                 0;
$card-border-color:                 transparent;

// Tooltips

$tooltip-bg:                        $gray-700;

// Modals

$modal-content-border-color:        transparent;

// Progress bars

$progress-height:               .375rem;
$progress-border-radius:        0;

// Close

$btn-close-color:            $white;
$btn-close-opacity:          .6;
$btn-close-hover-opacity:    1;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
